<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Recipe App</title>	
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="./css/footer.css">
	

</head>

<!-- <div class="nav">
    <div class="col-sm nav-align">
        <h1 id="title">Recipe App</h1>
    </div>
    <div class="col-sm nav-align">
        <a href="/">
            <span class="button">Home</span>
        </a>
        <a href="/courses">
            <span class="button">Cooking Courses</span>
        </a>
        <a href="/contact">
            <span class="button">Contact</span>
        </a>
    </div>
</div> -->
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Recipe App</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/courses">Cooking Courses</a></li>
        <li><a href="/contact">Contact</a></li>        
      </ul>
    </div>
  </nav>
</html>