<!-- Modal Trigger -->
			<button data-target="myModal" class="btn modal-trigger" id="modal-button">View Latest Courses</button>			
			<!-- Modal Structure -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
				<h4 class="modal-title">Latest Courses</h4>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-light btn-small login-in">Close</a>
				</div>
				</div>
			</div>