<div class="container">

  <div class="centered">
    <h2>Contact Page</h2>
  </div>
<form action ="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="eirCode" placeholder="Eircode" pattern="[0-9]{5}">
    <!-- <input type="submit" name="submit"> -->
    <a class="waves-effect waves-light btn">Submit Query</a>
</form>

</div>