 
<body>
    <link rel="stylesheet" href="../public/css/footer.css">
    
<%- include ('partials/navigation') %>

 
    <%- body %>
  
<!--   
        <footer class="page-footer">
            
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">About Restaurant</h5>
                  <p class="grey-text text-lighten-4">You can book via order@restauarant.com or on 555 434 3322</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
               
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2020 Copyright Restaurant
              </div>
            </div>
          </footer>
               -->
     
</body>
 