.modal-title {
  margin: 0 30px;
  font-size: 30px;
  color: #625956;
  font-weight: 600;
}

.course-title {
  font-size: 20px;
  margin: 0 30px;
  border-radius: 10px;
}

.course-description {
  text-align: left;
  margin: 0 30px;
  clear: left;
}

.join-button{
   text-decoration:none;
  color:#fff;
  background-color:#26a69a;
  text-align:center;
  letter-spacing:.5px;
  -webkit-transition:background-color .2s ease-out;
  transition:background-color .2s ease-out;
  cursor:pointer;
   background-color: #2bbbad;
   padding: 10px;
   border-radius: 3px;   
}



.joined-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  background-color: #c1ffc1;
  color: #625956;
  border: 1px solid;
  border-radius: 5px;
}